# Virtual environments (Where your thousands of installation files are)
.mosa_venv/
venv/
env/
__pycache__/

# System and Python files
*.pyc
*.pyo
.DS_Store
.ipynb_checkpoints/

*.egg-info/

# Data and Logs (Careful: only if you don't want to take your outputs to GitHub)
#*.log
#data/
#outputs/